<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <service
            android:name=".service.KonnektFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".receiver.ReplyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="nrr.konnekt.core.notification.REPLY_ACTION" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.MarkAsReadReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="nrr.konnekt.core.notification.MARK_AS_READ_ACTION" />
            </intent-filter>
        </receiver>
    </application>
</manifest>